h1 {
    font-style: italic;
    padding-bottom: 50px;
}

h2 {
    padding-top: 20px;
    font-style: italic;
}

h3 {
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}

h4 {
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
}

p {
    color: #636363;
}

 .landscapeReview img {
    float: left;
}

.landscapeReview02 {
    position: relative;
    top: -245px;
    right: 200px;
}

